/* 
    Document   : Wpc styles
    Created on : 13 Nov 2013
    Author     : Inkoniq
    Description:
        Stylesheet for Wp contact forms
*/
.container{width:100%;margin:10px 0px 0px 10px;}
.tab-content .component{font-family: 'Open Sans', sans-serif;font-size: 12px;}
#rendered{display: none;}
#about{display: none;}
.span6{margin-left: 25px;}
.form-horizontal .control-label{text-align: left;font-size: 13px;font-family: 'Open Sans', sans-serif;}.form-horizontal .controls{margin-left: 160px;font-family: 'Open Sans', sans-serif;font-size: 12px;}
.form-horizontal .control-group{margin-bottom: 1px;border: solid 1px #ddd;padding: 15px 5px;background: #f2f2f2;}
.nav-tabs{margin-bottom: 0px;border-bottom: 0px;}select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{height:30px;} textarea{height: 60px;width:100%;}
.control-group .checkbox{background: #f2f2f2;   }